.user-navigation {
  display: flex;
  align-items: center;

  @media (max-width: $media-small) {
    justify-content: center;
  }
}

.user-navigation--log-in {
  justify-content: end;
}

.user-navigation--log-out {
  justify-content: space-between;
}

.user-navigation__item {
  display: flex;

  @media (max-width: $media-small) {
    justify-content: center;
  }
}
