.button {
  @include button-reset;

  padding: 10px 15px;

  font: 500 14px/16px $base-font-family;
  color: $base-color;
  text-transform: uppercase;
  letter-spacing: 1.25px;

  background-color: $button-color;
  box-shadow: $button-shadow;
  border-radius: 4px;

  &:hover {
    transform: scale(0.99);
    box-shadow: $button-hover-shadow;
  }

  &:active {
    opacity: 0.8;
  }
}

.button--v2 {
  color: $button-color;

  background-color: $base-color;
}
