.user-navigation {
  width: 330px;

  @media (max-width: $media-middle) {
    width: 300px;
  }

  @media (max-width: $media-small) {
    width: 100%;
  }
}

.user-navigation__item {
  @media (max-width: $media-small) {
    width: 100%;
  }
}

.user-navigation__button {
  @media (max-width: $media-small) {
    width: 80%;
  }
}

.user-navigation__avatar {
  width: 40px;
  height: 40px;

  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
}
