.best-score-page {
  @extend %main-page;
}

.best-score-page__title {
  @extend %main-page-title;
}

.best-score-page__item {
  border-bottom: $best-score-border-bottom;
}

.best-score-page__player-avatar {
  width: 40px;
  height: 40px;

  border-radius: 50%;

  object-fit: cover;
  object-position: 50% 50%;

  @media (max-width: $media-small) {
    width: 30px;
    height: 30px;
  }
}

.best-score-page__player-name {
  font: 500 14px/21px $base-font-family;
  color: $best-score-color;
  letter-spacing: 0.1px;

  overflow-wrap: anywhere;

  @media (max-width: $media-small) {
    font: 500 12px/19px $base-font-family;
  }
}

.best-score-page__player-email {
  font: 400 12px/15px $base-font-family;
  color: $best-score-color;
  letter-spacing: 0.4px;

  overflow-wrap: anywhere;

  @media (max-width: $media-small) {
    font: 500 10px/13px $base-font-family;
  }
}

.best-score-page__player-score {
  font: 500 14px/24px $base-font-family;
  color: $best-score-color;
  letter-spacing: 0.15px;

  @media (max-width: $media-small) {
    font: 500 12px/21px $base-font-family;
  }
}

.best-score-page__player-value {
  color: $base-color;
}
