%main-page {
  max-width: 1000px;
  min-height: 800px;
  padding: 30px 100px 35px 30px;

  background-color: $main-bg-color;
  border-radius: 5px;

  @media (max-width: $media-middle) {
    width: 80%;
    min-height: 500px;
  }

  @media (max-width: $media-small) {
    width: 90%;
    padding: 25px;
  }
}

%main-page-layout {
  margin: 0 auto;
  margin-top: 30px;

  @media (max-width: $media-small) {
    margin-bottom: 30px;
  }
}

%main-page-title {
  font: 500 20px/30px $base-font-family;
}

%main-page-title-layout {
  margin-bottom: 20px;
}

%popup-log-in-label-hover {
  content: "";

  position: absolute;
  top: 25%;
  left: 25%;

  width: 50%;
  height: 50%;

  background-image: url("../assets/icons/plus-symbol.svg");
  background-repeat: no-repeat;
}
