/* colors */
$base-color: #2196f3;

$navigation-link-color: #fff;
$navigation-link-active-bg-color: #1e88e5;
$button-burger-color: #fff;

$main-bg-color: rgba(0 0 0 / 5%);

$about-game-step-item-bg-color: #fff;
$about-game-step-item-number-color: #fff;
$about-game-step-item-text-color: rgba(0 0 0 / 68%);

$best-score-color: #333;

$game-settings-label-color: rgba(0 0 0 / 87%);
$game-settings-option-disabled-color: rgba(0 0 0 / 60%);
$game-settings-option-color: #000;

$popup-bg-color: #fafafa;
$popup-bg-label-color: rgba(33 33 33 / 8%);
$popup-bg-title-color: #fff;

$overlay-color: rgba(0 0 0 / 25%);

$button-color: #f2f9fe;

$popup-log-in-label-color: rgba(0 0 0 / 38%);
$popup-log-in-input-color: rgba(0 0 0 / 87%);

/* fonts */
$base-font-family: "Roboto", sans-serif;

/* media */
$media-middle: 1280px;
$media-small: 768px;

/* sizes */
$height-header: 65px;

/* shadows */
$base-shadow: 0 1px 5px rgba(0 0 0 / 20%), 0 3px 4px rgba(0 0 0 / 12%), 0 2px 4px rgba(0 0 0 / 14%);

$header-shadow: 0 4px 4px rgba(0 0 0 / 25%);

$button-shadow: 0 3px 5px rgba(0 0 0 / 20%), 0 1px 18px rgba(0 0 0 / 12%), 0 6px 10px rgba(0 0 0 / 14%);
$button-hover-shadow: 0 3px 5px rgba(0 0 0 / 30%), 0 1px 18px rgba(0 0 0 / 22%), 0 6px 10px rgba(0 0 0 / 24%);

$game-settings-shadow: 0 6px 5px rgba(0 0 0 / 24%), 0 9px 18px rgba(0 0 0 / 18%);

/* z-index */
$index-navigation: 5;
$index-header: 10;

$index-overlay: 20;
$index-popup: 25;
$index-popup-label: 30;

/* borders */
$best-score-border-bottom: 1px solid rgba(33 33 33 / 8%);

$game-settings-border-botton: 1px solid #e5e5e5;

$popup-log-in-border-bottom: 1px solid rgba(0 0 0 / 60%);
