.game-settings {
  @extend %main-page-layout;
}

.main-settings__title {
  @include visually-hidden;
}

.game-settings__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.game-settings__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}

.game-settings__label {
  margin-bottom: 5px;
}
