.header {
  display: flex;
}

.header__wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;

  transition: margin-bottom 0.6s;

  @media (max-width: $media-small) {
    z-index: $index-header;
  }
}

.header__logo {
  align-self: center;
}

.header__navigation {
  position: absolute;
  left: 20%;

  display: flex;
  justify-content: space-between;

  @media (max-width: $media-small) {
    z-index: $index-navigation;
    top: -200px;
    left: 0;

    flex-direction: column;

    transition: top 0.6s;
  }
}

.navigation-show .header__navigation {
  @media (max-width: $media-small) {
    top: $height-header;
  }
}
