.user-navigation {
  display: flex;
}

.user-navigation__item {
  display: flex;

  @media (max-width: $media-small) {
    justify-content: center;
  }
}

.user-navigation__button {
  align-self: center;
}
