.about-game-page {
  @extend %main-page-layout;
}

.about-game-page__title {
  @extend %main-page-title-layout;
}

.about-game-page__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (max-width: $media-small) {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
  }
}

.about-game-page__item-description {
  display: flex;

  @media (max-width: $media-small) {
    margin-bottom: 15px;
  }
}

.about-game-page__item-number {
  flex-shrink: 0;
  margin-right: 15px;
}
