.best-score-page {
  @extend %main-page-layout;
}

.best-score-page__title {
  @extend %main-page-title-layout;
}

.best-score-page__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.best-score-page__player-info {
  display: flex;
  justify-content: space-between;
}

.best-score-page__player-avatar {
  margin-right: 15px;
  margin-bottom: 5px;
}

.best-score-page__player-score {
  align-self: center;
  margin-left: 10px;
}
